@import "./colors";
// Font Weights 400, 700, 800
.header {
	padding: 10px;
	font-family: sans-serif;
	width: 100%;
	display: flex;
	justify-content: space-between;
	background-color: $primary-color;
	color: $primary-color-text;
	.branding {
		.logo {
			font-size: 3rem;
			font-family: "Open Sans", serif;
			font-weight: 700;
		}

		.version {
			opacity: 0.5;
			font-family: "Open Sans", sans-serif;
			font-weight: 800;
		}
	}
	.project-link {
		align-self: flex-end;
		text-decoration: none;
		color: $primary-color-text;
		font-size: 2rem;
	}
}
